<div class="card border-light mb-2">
    <div class="card-body text-left">
        {{#link-to "post.view" post tagName="h4" class="card-title"}}
            {{post.title}}
        {{/link-to}}
        <p class="card-text">
            {{simple-mde-preview post.content}}
        </p>
        <footer class="blockqoute-footer">
            <small class="text-muted">
                {{post.creator}} - {{post.date}}
            </small>
            {{!-- Todo batches for up- and downvotes --}}
        </footer>
    </div>
</div>
{{#if isDetail}}
    {{#each post.comments as |comment|}}
        <h1>{{comment.text}}</h1>
    {{/each}}
    <h2>test</h2>
{{/if}}