<div class="card border-light mb-2">
    <div class="card-body text-left">
        <div class="d-flex justify-content-between">
            <h4 class="card-title">
                {{post.title}}
            </h4>
            <div>
                {{#if post.currentUserIsOwner}}
                {{#link-to "post.edit" post.id}}
                    {{material-icon "mode_edit"}}
                {{/link-to}}
                {{/if}}
                
                {{#unless isDetail}}
                {{#link-to "post.view" post.id}}
                    {{material-icon "open_in_new"}}
                {{/link-to}} 
                {{/unless}}
            </div>
        </div>
        <p class="card-text blogContent">
            {{simple-mde-preview post.content}}
        </p>
        <footer class="blockqoute-footer">
            <div class="d-flex justify-content-between">
                <small class="text-muted inline">
                    {{moment-format post.date}} / {{post.likes}} {{t "likes"}}
                </small>
                {{#if session.isAuthorized}}
                    {{#if post.alreadyLiked}}
                        <div>
                            <span class="badge badge-secondary">
                                {{material-icon "thumb_up"}}
                            </span>
                        </div>
                    {{else}}
                        <div>
                            <span class="badge badge-success clickable" {{action "addLike" post}}>
                                {{material-icon "thumb_up"}}
                            </span>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </footer>
    </div>
</div>
<div class="d-flex flex-column align-items-center">
    {{#if isDetail}}
    <div class="list-group commentGroup">
        {{#each post.comments as |comment|}}
        <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{comment.username}}</h5>
                <div>
                    <small>{{moment-format comment.date}}</small>
                    
                </div>
            </div>
            <p class="mb-1">{{comment.content}}</p>
            {{#if comment.currentUserIsOwner}}
                <div class="clickable float-right text-danger" {{action "deleteComment" comment}}>
                    {{material-icon "delete"}}
                </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{#if session.isAuthorized}}
    <div class="input-group mt-1 commentGroup">
        {{input value=comment type="text" class="form-control" placeholder="Add comment"}}
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" {{action "addComment" post}}>{{t 'add'}}</button>
        </div>
    </div>
    {{/if}} {{/if}}
</div>