<form {{action "save" model on="submit"}} class="newPost text-left">
    <div class="form-group">
        <label for="postTitle">{{t "title"}}</label>
        {{input value=title type="text" class="form-control" id="postTitle"}}
    </div>
    <div class="form-group">
        <label for="postContent">{{t "content"}}</label>
        {{simple-mde value=content change=(action (mut content))}}
    </div>
    <button type="submit" class="btn btn-primary">{{t "save"}}</button>
    {{#unless isNew}}
        <button type="button" class="btn btn-danger" {{action "delete"}}>{{t "delete"}}</button>
    {{/unless}}
</form>